/*Do Kim Phuong design*/
.set-left {
    float: left;
    clear: right;
}

.set-right {
    float: right;
}

.img-fluid {
    border-top-left-radius: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: 0px 0px 149px 18px rgba(245, 233, 245, 1);
    -moz-box-shadow: 0px 0px 149px 18px rgba(245, 233, 245, 1);
    box-shadow: 0px 0px 149px 18px rgba(245, 233, 245, 1);
}

.img-design {
    width: 100%;
}

.primary-btn3 {
    border: none;
    display: inline-block;
    background: linear-gradient(to right, blue 0%, #80bdff 55%, lightskyblue 100%);
    color: #fff;
    letter-spacing: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    padding: 0 38px;
    outline: none !important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-size: 200% auto;

}

.primary-btn3 a {
    color: white !important;
    text-decoration: none;
}

.primary-btn4 {
    border: none;
    display: inline-block;
    background: linear-gradient(to right, darkred 0%, red 35%, orangered 100%);
    color: #fff;
    letter-spacing: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    padding: 0 38px;
    outline: none !important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-size: 200% auto;

}

.primary-btn4 a {
    color: white !important;
    text-decoration: none;
}

/*Lab1*/
.function-left {
    float: left;
    clear: right;
}

.function-right {
    float: right;
}

.table-product {
    margin-top: 2%;
}

.account__title {
    color: #2e2e2e;
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 10px;
}

.my_account_area img {
    margin: 10% 17%;
}

.account__form {
    border: 1px solid #d3ced2;
    border-radius: 5px;
    margin: 2em 0;
    padding: 20px;
    text-align: left;
    -webkit-box-shadow: -2px 1px 25px 6px rgba(207, 196, 207, 1);
    -moz-box-shadow: -2px 1px 25px 6px rgba(207, 196, 207, 1);
    box-shadow: -2px 1px 25px 6px rgba(207, 196, 207, 1);
}

.account__form .questionRegister {
    color: mediumseagreen;
}

.account__form .input__box {
    margin: 20px 0 15px;
}

.account__form .input__box label {
    margin: 0 0 10px;
    line-height: 2;
    color: #333;
    display: block;
}

.account__form .input__box input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    border-radius: 0;
    height: 40px;
    width: 100%;
    padding: 0 0 0 10px;
}


.account__form .form_loginDifferent {
    margin-top: 10px;
    padding-left: 4%;
    border: black solid 1px;
}

.account__form .titleLogin {
    font-size: 12px !important;
}

.account__form .form__btn button {
    background: #0066cc none repeat scroll 0 0;
    border: none;
    color: white;
    display: inline-block;
    font-weight: 700;
    line-height: 34px;
    padding: 2px 20px 0;
    transition: all 0.4s ease 0s;
    border-radius: 3px;
}

.btn_sub {
    background: rgb(241, 213, 63) none repeat scroll 0 0;
    border: none;
    color: white;
    display: inline-block;
    font-weight: 700;
    line-height: 34px;
    padding: 2px 20px 0;
    transition: all 0.4s ease 0s;
    border-radius: 3px;
}

.btn_sub1 {
    background: #0066cc none repeat scroll 0 0;
    border: none;
    color: white;
    display: inline-block;
    font-weight: 700;
    line-height: 34px;
    padding: 2px 20px 0;
    transition: all 0.4s ease 0s;
    border-radius: 3px;
}

.account__form .forget-passline {
    color: white;
}

.account__form .form__btn button:hover {
    background: gainsboro none repeat scroll 0 0;
    color: grey;
}

.button:hover {
    background: gainsboro none repeat scroll 0 0;
    color: grey;
}

.account__form .form__btn span {
    color: #333;
}

.account__form .forget {
    margin-top: 10px;
}

.account__form .forget_pass {
    color: mediumseagreen;
    display: block;
    width: 25%;
    float: right;


}

.account__form .form__btn .label-for-checkbox {
    margin-bottom: 0;
    margin-left: 10px;
    float: left;
    clear: right;

}

.find {
    height: 36px;
    width: 415px;
    padding-left: 10px;
    color: black;
    font-size: 15px;
    border: #b9bbbe solid 1px;
    border-radius: 3px;
}

.btn1 {
    width: 32px;
    height: 32px;
    background: dodgerblue;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 20px;
}

.btn2 {
    width: 32px;
    height: 32px;
    background: orange;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 20px;
}

.btn3 {
    width: 32px;
    height: 32px;
    background: limegreen;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 20px;
}

.title-table {
    color: darkblue;
}

/*Lab2*/
.user {
    float: left;
    clear: right;
    background: #bee5eb;
    padding: 5px;
    border: #80bdff solid 1px;
    font-weight: 400;
    margin-left: 2%;
    border-radius: 5px;
}

.userline {
    background: none !important;
    font-size: 35px;
    border: none;
}

.product__info__main {
    border-left: #ebebeb solid 1px;
    padding-left: 8px;
}

.product__info__main h1 {
    color: #333;
    font-size: 23px;
    font-weight: 600;
    line-height: 1.42857;
    margin: 0 0 3px;
    text-transform: capitalize;
    color: #0066cc;
    border-bottom: #ebebeb solid 1px;
    padding-bottom: 5px;
}

.product__info__main .product-info-stock-sku p {
    color: #616161;
    display: inline-block;
    font-size: 14px;
    text-transform: capitalize;
}


.product__info__main .price-box {
    margin: 15px 0 20px;
    border-bottom: #ebebeb solid 1px;
}

.product__info__main .price-box span {
    color: red;
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

.product__info__main .product-color-label span {
    font-size: 14px;
    font-weight: 500;
    display: block;
}

.product__info__main .product-color-label .color__attribute {
    margin-top: 10px;
}


.product__info__main .box-tocart {
    margin: 0;
    margin-bottom: 25px;
}

.mini {
    border: #bee5eb solid 1px;
    border-radius: 3px;
    margin-right: 5px;
    margin-top: 10px;
    float: left;
    clear: right;
}

.mini:hover {
    box-shadow: #cce5ff 3px 3px 3px;
    cursor: pointer;
}

.bigsize:hover {
    box-shadow: whitesmoke 10px 10px 10px;
    cursor: pointer;
}

.buy {
    width: 290px;
    height: 90px;
}

.soluong {
    float: left;
    clear: right;
}

.listSL ul {
    width: 150px;
    height: 30px;
    margin: 5px 5px;

}

.listSL ul li {
    float: left;
    width: 30px;
    height: 30px;
    border: #CCCCCC solid 1px;
    list-style-type: none;
    padding: 4px 10px;
    border-collapse: collapse;
    font-size: 15px;
}

.listSL ul li:hover {
    background: whitesmoke;
}

.listSL ul li a {
    text-decoration: none;
    color: black;
    text-align: center;
    /*font-weight: bold;*/
    font-size: 14px;

}

.btnTGH {
    float: right;
    margin-top: -12%;
}

.btnTGH button {
    background: orange;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
}

.dathangNhanh {
    font-size: 15px;
    color: black;
    padding-top: 10px;
    border-top: #ebebeb solid 1px;
}

.logo-euce {
    margin: 20px 80px;
}

.feedback {
    border: orange solid 1px;
    border-radius: 3px;
    padding: 0px 1px 10px 0px;
}

.cuanhang {
    padding-top: 5px;
}

.infoma {
    margin: 5px 5px;
    border-bottom: whitesmoke solid 1px;

}

.fbKH {
    border-bottom: whitesmoke solid 1px;
    margin-left: 10px;
}

.btn-cuahang {
    background: #23AFEC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 7px 20px 7px 20px;
}

/*Lab3*/
/*Ex1*/
.menuw_web {
    background: whitesmoke;
}

.menuw_web a {
    font-weight: bold;
    color: #009551;
    font-size: 16px;
    font: 500 14px/50px "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 0px;
    font-size: 16px;
    display: inline-block;
}

.menuw_web a:hover {
    background: #009551 !important;
    color: white;
}
.menuw_web a.active {
    color: white;
    background: #009551;
}

.o_tim {
    border-radius: 3px;
    border: gainsboro solid 1px;
    background: #eeeeee;
    color: black;
    float: left;
    clear: right;
}

.tim {
    float: right;
}

.tim button {
    background: orange;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 3px;
}

.tintuc {
    border-bottom: gainsboro solid 1px;
}

.hinh {
    float: left;
    clear: right;
}

.bao {
    float: right;
}

.left-tintuc {
    float: left;
    clear: right;
}

.right-tintuc {
    float: right;
}

.logo {
    float: left;
    clear: right;
}

.menuw_web1 {
    background: white;
    float: right;
}

.menuw_web1 a {
    font-weight: bold;
    color: mediumpurple;
    font-size: 16px;
    font: 500 14px/50px "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 0px;
    font-size: 16px;
    display: inline-block;
}

.menuw_web1 a:hover {
    color: white;
    background: lightblue;
}

.section4 {
    height: 110px;
    border: black solid 1px;
    background: #27344A;
    border-radius: 3px;
}

.infomation {
    float: left;
    clear: right;
    background: #27344A;

}

.line1 {
    font-weight: bold;
    color: white;
}

.line2 {
    color: #FF6600;
    border: none;
}

.btnPur {
    float: right;
    border-radius: 5px;
    border: none;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.animation img {
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: example;
}

@-webkit-keyframes example {
    from {
        border-radius: 0px
    }
    to {
        border-radius: 50px
    }
}

/* Standard syntax */
@keyframes example {
    from {
        border-radius: 0px
    }
    to {
        border-radius: 50px
    }
}
.menuw_web2 {
    background: whitesmoke;
}

.menuw_web2 a {
    text-transform: none!important;
    font-weight: bold;
    color: #0066cc;
    font-size: 16px;
    font: 500 14px/50px "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 0px;
    font-size: 16px;
    display: inline-block;
}

.menuw_web2 a:hover {
    background: #0066cc !important;
    color: white;
}
.tim1 {
    float: right;
}
.o_tim1 {
    border-radius: 3px;
    border: gainsboro solid 1px;
    background: ghostwhite;
    color: black;
    float: left;
    clear: right;
}
.tim1 button {
    background: #5ba1cf;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 3px;
}
.contact {
    background: ghostwhite;
}