/*Do Kim Phuong design*/
.img-fluidv1 {
    max-width: 100%;
    height: auto;
    border-radius: 45% 10% 45% 10%;
    -webkit-box-shadow: 6px 0px 85px 21px rgba(132, 144, 255, 1);
    -moz-box-shadow: 6px 0px 85px 21px rgba(132, 144, 255, 1);
    box-shadow: 6px 0px 85px 21px rgba(132, 144, 255, 1);
}

.img-fluidv2 {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    -webkit-box-shadow: 6px 0px 85px 21px rgba(132, 144, 255, 1);
    -moz-box-shadow: 6px 0px 85px 21px rgba(132, 144, 255, 1);
    box-shadow: 6px 0px 85px 21px rgba(132, 144, 255, 1);
}

.img-fluidv3 {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

span {
    color: #777777;
    font-weight: bold;
}

.contact-block {
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 5px;
    background-color: #f4f7f6;
    text-align: center;
}

.contact-info-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-info i {
    font-size: 45px;
    color: rgba(132, 144, 255, 1);
    margin-bottom: 30px;
}

.card-body .card-item-img img {
    width: 100%;
}

.btn-primary2 {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

.btn-primary2:hover {
    color: #fff;
    background-color: orangered;
    border-color: orangered;
}

/*Lab1*/
.title-1 {
    color: #777777;
}
.search input {
    display: inline-block;
}

.form-controlv1 {
    display: block;
    width: 80%;
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card-info:not(.card-outline) > .card-header {
    background-color: #17a2b8;
    color: white !important;
}

.card-title {
    color: white;
}

/*Lab2*/
.user {
    padding: 5%;
    background: white;
    border-radius: .25rem;
    -webkit-box-shadow: 2px 2px 38px 5px rgba(171,163,230,1);
    -moz-box-shadow: 2px 2px 38px 5px rgba(171,163,230,1);
    box-shadow: 2px 2px 38px 5px rgba(171,163,230,1);
}

.muiten {
    font-size: 45px;
}
.mini {
    border: #bee5eb solid 1px;
    border-radius: 3px;
}

.mini:hover {
    box-shadow: #cce5ff 3px 3px 3px;
    cursor: pointer;
}
.bigsize:hover {
    box-shadow: whitesmoke 10px 10px 10px;
    cursor: pointer;
}


.border-warningv1 {
    border-color: #ffc107 !important;
    border-radius: .25rem;
}
.title-srm {
    color: #007bff;
}
.price {
    color: red;
}
/*Lab3*/
.menuw_web {
    background: whitesmoke;
}

.menuw_web a {
    font-weight: bold!important;
    color: #009551;
    font-size: 14px!important;
    font: 500 14px/50px "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 0px 15px!important;
    display: inline-block;
}

.menuw_web a:hover {
    background: #009551 !important;
    color: white!important;
}

.menuw_web a.active {
    color: white;
    background: #009551;
}
.form-controlv2 {
    display: block;
    width: 89%;
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: whitesmoke;
    background-clip: padding-box;
    border: 1px solid gainsboro;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.mohinh {
    background: #009551;

}
.mohinh h5 {
    color: white!important;
}
.lab3 a{
    color: #777777;
}
.lab3 a:hover {
    color: #0066cc;
}
.infomation {
    background: #27344A;
    padding-top: 2%;
    border-radius: .35rem;
}
.line1 {
    color: white;
    font-weight: bold;
}
.line2 {
    color: orange;
}
.menuw_web1 {
    background: white;
    float: right;
}

.menuw_web1 a {
    font-weight: bold!important;
    color: #777777;
    font-size: 14px;
    font: 500 14px/50px "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 0px;
    display: inline-block;
}

.menuw_web1 a:hover {
    color: #8490ff;
}
.menuw_web2 {
    background: #fafaff;
    float: right;
}

.menuw_web2 a {
    font-weight: bold!important;
    color: #777777;
    font-size: 14px;
    font: 500 14px/50px "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 0px;
    display: inline-block;
}

.menuw_web2 a:hover {
    color: #8490ff;
}
.logo img{
    border-radius: 15%;
}
.form-controlv3 {
    display: block;
    width: 89%;
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fafaff;
    background-clip: padding-box;
    border: 1px solid #eeeeee;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.animation img {
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: example;
}

@-webkit-keyframes example {
    from {
        border-radius: 0px
    }
    to {
        border-radius: 50px
    }
}

/* Standard syntax */
@keyframes example {
    from {
        border-radius: 0px
    }
    to {
        border-radius: 50px
    }
}