body {
    margin: 0px;
    padding: 0px;

}

a {
    text-decoration: none;
    color: white;
}

#container {
    width: 1360px;
    margin: auto;
}

#menu {
    width: 100%;
    height: 52px;
}

#menu ul {
    padding: 0px;
    margin: 0px;
    overflow: auto;
    background: #1b2426;
    opacity: 0.8;
}

#menu ul li {
    list-style: none;
    float: left;
    padding: 15px;
}

#menu ul li:hover {
    background: darkred;
    cursor: pointer;
    color: #eeeeee;
    border-bottom: 3px solid #CCCCCC;
}

#menu ul li a {
    font-weight: bold;
    margin: 0 15px 0 15px;
}

#menu ul li:hover a {
    color: #eeeeee;
}

#menu .sub ul {
    position: absolute;
    top: 51px;
    visibility: hidden;
    margin-left: -16px;

}

#menu .sub:hover ul li {
    visibility: visible;
    background: #eeeeee;
}

#menu .sub ul li a {
    color: black;
}

#menu .sub ul li:hover a {
    color: #CCCCCC;
}

#menu .sub ul li {
    float: none;
    border-bottom: 1px solid darkgray;
}

#nav {
    width: 1300px;
    height: 50px;
    margin: 40px 90px;
}

#nav .col {
    width: 430px;
    height: 58px;
}

#nav .col ul {
    padding: 0px;
    margin: 0px;
    overflow: auto;
    background: #1b2426;
    opacity: 0.8;
    border-radius: 5px;
}

#nav .col ul li {
    width: 80px;
    list-style: none;
    float: left;
    padding: 15px;
    font-weight: bold;
}

#nav ul li:hover {
    background: darkred;
    cursor: pointer;
    border-bottom: 3px solid whitesmoke;
}

#nav ul li:hover a {
    color: #CCCCCC;
}

#section-heading {
    width: 1360px;
}

#section-heading .lab1 {
    color: #aa0a5f;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    border-top: #CCCCCC solid 1px;
}

#section-heading .content {
    width: 1360px;
}

#section-heading .tabs {
    margin: 40px 100px;
    width: 450px;

}

#section-heading ul {
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

#section-heading ul li {
    width: 150px;
    list-style: none;
    float: left;
    padding: 20px;
    font-weight: bold;
    border: #CCCCCC solid 1px;
}

#section-heading ul li a {
    color: #aa0a5f;
    text-align: center;
}

#section-heading .tab-content {
    width: 1360px;
    border-top: #CCCCCC solid 1px;
}

#section-heading .tab-content .tab-pane {
    margin-left: 100px;
}

#section-heading .tab-content .table {
    width: 1150px;
    margin-top: 20px;
}

#section-heading .designAll {
    margin-top: 20px;
    width: 1130px;
    background: white;
    border: #CCCCCC solid 2px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#section-heading .designAll .title {
    width: 100%;
    height: 50px;
    color: black;
    font-weight: bolder;
    font-size: 18px;
    background: whitesmoke;
    padding: 10px 20px;
}

#section-heading .picture img {
    margin: 10px 250px;
}

#section-heading .load {
    margin: 20px 450px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 18px;
    background: #1b2426;
    opacity: 0.9;
    border: none;
}

#section-heading .load:hover {
    background: darkred;
    color: #CCCCCC;
    cursor: pointer;

}

#section-heading .load a:hover {
    color: #CCCCCC;
}

#section-heading .purport {
    width: 1130px;
    height: 620px;
}

#section-heading .purport .title-purport {
    text-align: center;
    margin-top: 30px;
    color: #3687E4;
    font-size: 25px;
    font-weight: bold;
}

#section-heading .purport .funtion {
    width: 500px;
    height: 50px;
    float: right;
    clear: left;
    margin-right: 50px;
}

.purtport1 .btn_sub {
    width: 170px;
    height: 40px;
    color: white;
    background: #23AFEC;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

.purtport1 .find {
    height: 41px;
    width: 215px;
    padding-left: 10px;
    font-weight: bold;
    color: #4cd3e3;
    font-size: 20px;
    border: #4cd3e3 solid 2px;
}

.purtport1 .table_product {
    margin: 100px 170px;
    width: 850px;
}

#section-heading .table_for_product .colums {
    border: #4cd3e3 solid 2px;
}

.table_product .row1 {
    color: #4cd3e3;
    font-size: 20px;
}

.table_product .row2 {
    color: #736666;
    font-size: 20px;
}

.table_for_product {
    text-align: center;
}

.list_next ul {
    width: 500px;
}

.list_next ul .list {
    width: 20px;
}

.tab_list {
    margin: -60px 650px;

}

.tab_list a {
    color: #4cd3e3;
    font-weight: bolder;
    font-size: 18px;
}

.colums1 {
    border: #4cd3e3 solid 2px;
}

.purport_alpha {
    width: 1130px;
    height: 330px;
}

.purport_alpha .title-purport {
    text-align: center;
    margin-top: 30px;
    color: #3687E4;
    font-size: 25px;
    font-weight: bold;
}

.alpha {
    width: 450px;
    height: 200px;
    margin: 30px 340px;
}

.noName {
    color: #4cd3e3;
    font-weight: bold;
    font-size: 18px;
}

.input_noName {
    border: #4cd3e3 solid 1px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #7B6F70;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
}

.alpha .no_alpha {
    margin-left: 54px;
}

.omega {
    width: 200px;
    height: 100px;
    margin: -70px 560px;
}

.btnOption {
    width: 80px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: #4cd3e3;
    border: none;

}




