body {
    margin: 0px;
    padding: 0px;

}

#container {
    margin: auto;
}

#section-heading {
    margin: auto;
    width: 1350px;
}

#section-heading .content {
    width: 1320px;
    margin: 100px 20px;
}

#section-heading a {
    font-size: 17px;
}

#section-heading .tabs a {
    color: yellowgreen;
}

#section-heading .tab-content .table {
    width: 1110px;
    margin-top: 20px;
    font-size: 15px;
    font-family: Arial;
}

#section-heading .tab-content b {
    color: black;
}

#section-heading .designAll {
    margin-top: 20px;
    width: 1130px;
    background: white;
    border: #CCCCCC solid 2px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-family: Arial;
}

#section-heading .designAll .title p {
    width: 1126px;
    height: 50px;
    color: black;
    font-weight: bolder;
    font-size: 18px;
    background: whitesmoke;
    padding: 10px 20px;
    font-family: Arial;
}

#section-heading .designAll .insert_img {
    width: 1130px;
    height: 630px;
}

#section-heading .designAll .insert_img1 {
    width: 1130px;
    height: 780px;
}

#section-heading .picture img {
    float: left;
    clear: right;
    margin: 30px 130px;
}

#section-heading .load {
    margin-top: -80px;
    margin-right: 75px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 18px;
    background: #1b2426;
    opacity: 0.9;
    border: none;
    float: right;
}

#section-heading .load1 {
    margin: 30px 450px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 18px;
    background: #1b2426;
    opacity: 0.9;
    border: none;
}

#section-heading .load:hover {
    background: darkred;
    cursor: pointer;

}

#section-heading .load1:hover {
    background: darkred;
    cursor: pointer;

}

#section-heading .load a {
    color: white;
}

#section-heading .load1 a {
    color: white;
}

#section-heading .load a:hover {
    color: #CCCCCC;
}

#section-heading .load1 a:hover {
    color: #CCCCCC;
}

#section-heading .purport {
    width: 1130px;
    height: 650px;
    font-family: Arial;
}

#section-heading .purport .title-purport {
    text-align: center;
    margin-top: 30px;
    color: #3687E4;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial;
}

#section-heading .purport table {
    height: 300px;
}

#section-heading .purport table .row1 {
    height: 50px;
}

#section-heading .purport .funtion {
    width: 500px;
    height: 50px;
    float: right;
    clear: left;
    margin-right: 50px;
}

.purtport1 .btn_sub {
    width: 170px;
    height: 40px;
    color: white;
    background: #23AFEC;
    border: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

.purtport1 .btn_sub:hover {
    background: #999999;
}

.purtport1 .find {
    height: 41px;
    width: 215px;
    padding-left: 10px;
    font-weight: bold;
    color: #4cd3e3;
    font-size: 20px;
    border: #4cd3e3 solid 1px;
    border-radius: 5px;
}

.purtport1 .table_product {
    margin: 100px 115px;
    width: 850px;
}

#section-heading .table_for_product .colums {
    border: #4cd3e3 solid 2px;
    text-align: center;
}

#section-heading .table_for_product .colums1 {
    border: #4cd3e3 solid 2px;
    text-align: center;
}

.table_product .row1 {
    color: #4cd3e3;
    font-size: 20px;
}

.table_product .row2 {
    color: #736666;
    font-size: 20px;
}

.table_product .row2:hover {
    background: whitesmoke;
}

.row2 .btn_img {
    background: white;
    border: none;
}

.table_for_product {
    text-align: center;
}

.list_next ul {
    width: 500px;
    margin: -70px 700px;

}

.list_next ul li {
    float: left;
    width: 40px;
    height: 40px;
    border: #4cd3e3 solid 1px;
    list-style-type: none;
    padding: 8px 15px;
    border-collapse: collapse;
}

.input_noName1 {
    border: #4cd3e3 solid 1px;
    margin-left: 15px;
    margin-bottom: 10px;
    color: #7B6F70;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
}

.list_next ul li:hover {
    background: whitesmoke;
}

.list_next ul li a {
    text-decoration: none;
    color: #4cd3e3;
    text-align: center;
    font-weight: bold;
    font-size: 18px;

}

.purport_alpha {
    width: 1130px;
    height: 350px;
    font-family: Arial;
}

.purport_alpha .title-purport {
    text-align: center;
    margin-top: 30px;
    color: #3687E4;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial;
}

.alpha {
    width: 450px;
    height: 200px;
    margin: 30px 340px;
}

.noName {
    color: #4cd3e3;
    font-weight: bold;
    font-size: 18px;
}

.input_noName {
    border: #4cd3e3 solid 1px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #7B6F70;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
}

.input_noName1 {
    border: #4cd3e3 solid 1px;
    margin-left: 15px;
    margin-bottom: 10px;
    color: #7B6F70;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
}


.omega {
    width: 200px;
    height: 100px;
    margin: -30px 560px;
}

.btnOption {
    width: 80px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: #23AFEC;
    border: none;
    border-radius: 5px;

}

.btnOption:hover {
    background: #999999;
}

/*Lab2*/
.userna {
    width: 1130px;
    height: 350px;
    /*border: black solid 1px;*/
    position: relative;
    font-family: Arial;
}

#userscenario .titleUser {
    width: 1100px;
    text-align: center;
    font-size: 18px;
    margin: 10px 12px;
    font-family: Arial;
}

#userscenario .userYC {
    text-align: center;
    width: 150px;
    height: 100px;
    position: absolute;
    top: 20px;
    left: 250px;
    background: #cce5ff;
    border: #80bdff solid 2px;
    font-family: Arial;
    font-size: 15px;

}

#userscenario .user {
    font-size: 50px;
    color: #80bdff;
    position: absolute;
    top: 30px;
    left: 430px;
}

#userscenario .userYC1 {
    width: 150px;
    height: 100px;
    border: black solid 1px;
    position: absolute;
    top: 20px;
    left: 500px;
    text-align: center;
    background: #cce5ff;
    border: #80bdff solid 2px;
    font-weight: bold;
    font-family: Arial;
}

#userscenario .user1 {
    font-size: 50px;
    color: #80bdff;
    position: absolute;
    top: 30px;
    left: 680px;
}

#userscenario .userYC2 {
    width: 150px;
    height: 100px;
    border: black solid 1px;
    position: absolute;
    top: 20px;
    left: 750px;
    text-align: center;
    background: #cce5ff;
    border: #80bdff solid 2px;
    font-weight: bold;
    font-family: Arial;
}

#userscenario .user2 {
    font-size: 50px;
    color: #80bdff;
    position: absolute;
    top: 130px;
    left: 810px;
}

#userscenario .userYC3 {
    width: 150px;
    height: 100px;
    border: black solid 1px;
    position: absolute;
    top: 220px;
    left: 750px;
    text-align: center;
    background: #cce5ff;
    border: #80bdff solid 2px;
    font-weight: bold;
    font-family: Arial;
}

#userscenario .user3 {
    font-size: 50px;
    color: #80bdff;
    position: absolute;
    top: 230px;
    left: 680px;
}

#userscenario .userYC4 {
    width: 150px;
    height: 100px;
    border: black solid 1px;
    position: absolute;
    top: 220px;
    left: 500px;
    text-align: center;
    background: #cce5ff;
    border: #80bdff solid 2px;
    font-weight: bold;
    font-family: Arial;


}

#userscenario .user4 {
    font-size: 50px;
    color: #80bdff;
    position: absolute;
    top: 230px;
    left: 430px;

}

#userscenario .userYC5 {
    width: 150px;
    height: 100px;
    border: black solid 1px;
    position: absolute;
    top: 220px;
    left: 250px;
    text-align: center;
    background: #cce5ff;
    border: #80bdff solid 2px;
    font-weight: bold;
    font-family: Arial;

}

.purport .contentSP {
    width: 1130px;
    height: 650px;
    position: relative;
}

.purport .contentSP .imgMiniSRM {
    width: 80px;
    height: 170px;
    position: absolute;
    top: 20px;
    left: 10px;
}

.purport .contentSP .imgMiniSRM img:hover {
    box-shadow: #cce5ff 3px 3px 3px;
    cursor: pointer;
}

.purport .contentSP .imgSRM {
    position: absolute;
    top: 20px;
    left: 100px;
}

.purport .contentSP .imgSRM img:hover {
    box-shadow: whitesmoke 10px 10px 10px;
    cursor: pointer;

}

.purport .contentSP .info {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 20px;
    left: 500px;
    border-left: whitesmoke solid 1px;
    padding-left: 10px;
}

.purport .contentSP .info .nameSP {
    font-weight: bold;
    font-size: 20px;
    color: #0066cc;
    border-bottom: 1px whitesmoke solid;
    padding-bottom: 5px;

}


.info .price {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.info .giam {
    color: red;
    text-decoration: none;
}

.info1 {
    width: 290px;
    height: 150px;
    border-bottom: whitesmoke solid 1px;
    margin-top: -10px;
}

.buy {
    width: 290px;
    height: 90px;
    border-bottom: whitesmoke solid 1px;
}

.listSL ul {
    width: 150px;
    height: 30px;
    margin: 5px -40px;

}

.listSL ul li {
    float: left;
    width: 30px;
    height: 30px;
    border: #CCCCCC solid 1px;
    list-style-type: none;
    padding: 3px 10px;
    border-collapse: collapse;
    font-size: 15px;
}

.listSL ul li:hover {
    background: whitesmoke;
}

.listSL ul li a {
    text-decoration: none;
    color: black;
    text-align: center;
    /*font-weight: bold;*/
    font-size: 14px;

}

.btnTGH {
    margin-top: -35px;
    margin-left: 105px;
}

.feedback {
    width: 290px;
    height: 500px;
    position: absolute;
    top: 15px;
    left: 830px;
    border: orange solid 1px;
    border-radius: 3px;
}
.cuanhang {
    padding-top: 5px;
}

.infoma {
    margin: 5px 5px;
    width: 280px;
    height: 130px;
    border-bottom: whitesmoke solid 1px;

}

.fbKH {
    width: 270px;
    height: 150px;
    border-bottom: whitesmoke solid 1px;
    margin-left: 10px;
}

.spTogether {
    width: 580px;
    height: 150px;
    position: absolute;
    top: 500px;
    left: 33px;
}
.spTogether img:hover {
    box-shadow: #eeeeee 3px 3px 3px;
    cursor: pointer;
}